argon2-cffi==21.1.0
asgiref==3.3.4
bcrypt==3.1.7
certifi==2020.6.20
cffi==1.15.0
Django==2.2.25
django-bootstrap3==12.1.0
django-braces==1.15.0
Faker==5.0.0
gunicorn==20.1.0
misaka==2.1.1
Pillow==7.2.0
pycparser==2.21
python-dateutil==2.8.2
pytz==2021.3
six==1.16.0
sqlparse==0.4.1
text-unidecode==1.3
whitenoise==5.3.0
